.mainContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    padding: 10px;
    height: 300px;
    width: 800px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.deviceimg {
    height: 300px;
    width: 150px;
    border-radius: 5px;
    margin-left: 10px;
}

.buttons {
        margin: 20px;
        width: 500px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.btn{
    outline: none;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #1572a1;
    border-radius: 10px;
    margin:  5px;
}
.a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #1572a1;
}
.btn:hover{
    background-color: #1572a1;
    border: 1px solid #1572a1;
    color: white;
}
.a:hover{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

.shared {
    height: 30px;
    background-color: #20c997;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.buylink {
    width: 50px;
}


.videolink {
    width: 150px;
    background-color: #dc3545;
}