/* Navbar CSS */
.navbar {
    width: auto;
    height: 56px;
    background-color: #1572A1;
    display: flex;
    align-items: center;
}

.logo {
    font-family: sans-serif;
    margin-left: 10px;
    color: white;
}