/* Navbar CSS */
.navbar {
    width: auto;
    height: 56px;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
}

.logo {
    font-family: sans-serif;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.8);
}